




<nav class="navbar">
  <img class="result" src="/img/google.png" alt="google logo" />
  <form>
    <input class="result" classtype="text" />
    <button class="result">Search</button>
  </form>
</nav>
<div class="container">
  <div class=""></div>
  <div class="cont">
    <div>
      <small class="search-results">{{results.length}} Results</small>
    </div>
    <div class="result">
    <div class="site">
			<!-- Start of Result -->

    {{#each results as |result|}}
		<div class="res">
			<div>
        <small>{{result.url}}</small>
      </div>
      <h2><a href="{{result.url}}">{{result.title}}</a></h2>
      <div>
        <p>{{result.description}}</p>
      </div>
      <div>
        <ul>
					{{#each result.links as |link|}}
          <li><a href="{{link.url}}">{{link.title}}</a></li>
					{{/each}}
        </ul>
      </div>
    </div>
		{{/each}}
		<!-- End of result -->
  </div>
</div>
